---
import Layout from "../layouts/common.astro";
---

<Layout title="Schema Generator">
  <p class="text-center text-gray-700">
    Generate schema for your blog in one-click!
  </p>
  <button
    class="block text-white bg-green-500 px-5 py-3 mx-auto mt-10 font-bold rounded-lg"
    >Get Extension</button
  >

  <p class="mt-2 text-2xl font-extrabold text-gray-900 tracking-tight">
    Everything you need to know about this app
  </p>
  <p class="mt-5 max-w-prose mx-auto text-xl text-gray-500">
    Providing one-click solution to generate...
  </p>

  <div class="mt-12 grid gap-8 grid-cols-1 md:grid-cols-2">
    <div class="bg-gray-50 rounded-lg px-6 pb-8">
      <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">
        How-to Schema
      </h3>
      <p class="mt-5 text-gray-500">Boost your site CTR using How-to schema!</p>
    </div>

    <div class="bg-gray-50 rounded-lg px-6 pb-8">
      <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">
        FAQ Schema
      </h3>
      <p class="mt-5 text-gray-500">
        Get that nice-looking faq section in SERPS!
      </p>
    </div>
    <div class="bg-gray-50 rounded-lg px-6 pb-8">
      <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">
        List Schema
      </h3>
      <p class="mt-5 text-gray-500">
        High CTR for your product review articles
      </p>
    </div>

    <div class="bg-gray-50 rounded-lg px-6 pb-8">
      <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">
        Boost Rankings
      </h3>
      <p class="mt-5 text-gray-500">Get 10x ROI!</p>
    </div>
  </div>
</Layout>
