<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/icon16.png" />
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
  </head>

  <body class="bg-gray-200">
    <div class="py-8">
      <nav class="flex justify-center items-start pb-10 space-x-10">
        <a href="/" class="-mt-8"
          ><img src="/icon16.png" height="100" width="100" alt="" /></a
        >
        <a href="/" class="font-medium text-gray-500 hover:text-gray-900"
          >Home</a
        >
        <a href="/pricing" class="font-medium text-gray-500 hover:text-gray-900"
          >Pricing</a
        >
        <a href="/blog" class="font-medium text-gray-500 hover:text-gray-900"
          >Blog</a
        >
        <a href="/login" class="font-bold text-gray-800 hover:text-gray-900"
          >Login</a
        >
        <a
          href="/signup"
          class="font-medium text-white hover:bg-red-600 bg-red-500 rounded-lg px-2 py-2 -mt-2"
          >Sign up</a
        >
      </nav>

      <h1
        class="my-5 py-2 text-center text-4xl font-extrabold tracking-tight text-transparent 
bg-clip-text bg-gradient-to-br from-pink-300 to-red-600 uppercase"
      >
        Login
      </h1>
    </div>
    <div class="mt-20 mx-auto max-w-xs ">
      <div class="bg-gray-50 rounded-md px-6 pb-8">
        <form action="#" class="p-5 font-bold">
          <label for="username" class="block text-md my-2">Username </label>
          <input
            id="username"
            class="p-1 border-2 border-gray-300 rounded-md focus:outline-none"
            type="text"
            placeholder="Username"
          />
          <label for="password" class="block text-md my-2">Password </label>
          <input
            id="password"
            class="p-1 border-2 border-gray-300 rounded-md focus:outline-none"
            type="password"
            placeholder="***********"
          />
          <div class="flex justify-between items-center">
            <button
              class="mt-5 text-white font-bold hover:bg-red-600 bg-red-500 rounded-md px-2 py-2"
              >Sign in
            </button>
            <a href="#"><p class=" mt-7 text-red-600">Forgot Password?</p></a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
