---
import Layout from "../layouts/common.astro";
---

<Layout title="Login">
  <div class="mt-20 mx-auto max-w-xs ">
    <div class="bg-gray-50 rounded-md px-6 pb-8">
      <form action="#" class="p-5 font-bold">
        <label for="username" class="block text-md my-2">Username </label>
        <input
          id="username"
          class="p-1 border-2 border-gray-300 rounded-md focus:outline-none"
          type="text"
          placeholder="Username"
        />
        <label for="password" class="block text-md my-2">Password </label>
        <input
          id="password"
          class="p-1 border-2 border-gray-300 rounded-md focus:outline-none"
          type="password"
          placeholder="***********"
        />
        <div class="flex justify-between items-center">
          <button
            class="mt-5 text-white font-bold hover:bg-red-600 bg-red-500 rounded-md px-2 py-2"
            >Sign in
          </button>
          <a href="#"><p class=" mt-7 text-red-600">Forgot Password?</p></a>
        </div>
      </form>
    </div>
  </div>
</Layout>
